<h2 class="uppercase mb-4">Resumen</h2>
<div class="row justify-content-center"
     *ngIf="!loading">
    <div class="col-5 m-2 border border-danger  py-3">
        <h3>Costes</h3>
        <table class="table table-dark table-striped">
            <tbody>
                <tr>
                    <th>Gastos en Compras (Materiales)</th>
                    <td>{{materialExpends}} €</td>
                </tr>
                <tr>
                    <th>Gastos en Herramientas</th>
                    <td>{{toolExpends}} €</td>
                </tr>
                <tr>
                    <th>Gastos Totales</th>
                    <th>{{totalExpends}} €</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-5 m-2 border border-success  py-3">
        <h3>Ingresos</h3>
        <table class="table table-dark table-striped">
            <tbody>
                <tr>
                    <th>Ingresos por Encargos</th>
                    <td>{{ordersIncomes}} €</td>
                </tr>
                <tr>
                    <th>Ingresos por Ventas de Producto</th>
                    <td>{{salesIncomes}} €</td>
                </tr>
                <tr>
                    <th>Ingresos Totales</th>
                    <td>{{totalIncomes}} €</td>
                </tr>
                <tr>
                    <th>Beneficios</th>
                    <th style="{{profitsStyle}}">{{profits}} €</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-5 m-2 border border-primary  py-3">
        <h3>Próximos Encargos</h3>
        <table class="table table-dark table-striped"
               *ngIf="nextOrders.length > 0">
            <tr *ngFor="let order of nextOrders">
                <th><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                       [routerLink]="'order/view/' + order.id">{{order.name}}</a></th>
                <td>{{order.estimatedDeliveryDate | date:'dd/MM/yyyy'}}</td>
            </tr>
        </table>
        <p *ngIf="nextOrders.length == 0">No hay encargos para entregar en los próximos 7 días</p>
    </div>
    <div class="col-5 m-2 border border-primary-subtle  py-3">
        <h3>Encargos con Retraso</h3>
        <table class="table table-dark table-striped"
               *ngIf="dueDateOrders.length > 0">
            <tr *ngFor="let order of dueDateOrders">
                <th><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                       [routerLink]="'order/view/' + order.id">{{order.name}}</a></th>
                <td>{{order.estimatedDeliveryDate | date:'dd/MM/yyyy'}}</td>
            </tr>
        </table>
        <p *ngIf="dueDateOrders.length == 0">No hay encargos con retraso</p>
    </div>
    <div class="col-5 m-2 border border-warning  py-3">
        <h3>Próximas Compras de Material</h3>
        <table class="table table-dark table-striped"
               *ngIf="nextMaterialPurchases.length > 0">
            <tr *ngFor="let material of nextMaterialPurchases">
                <th><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                       [routerLink]="'material/view/' + material.id">{{material.name}}</a></th>
                <td>{{material.quantity}} {{getMaterialPriceCalculation(material)}}</td>
            </tr>
        </table>
        <p *ngIf="nextMaterialPurchases.length == 0">No hay materiales agotados o próximos a agotarse</p>
    </div>
    <div class="col-5 m-2 border border-white  py-3">
        <h3>Los 5 Productos más Vendidos</h3>
        <table class="table table-dark table-striped"
               *ngIf="mostSoldProducts.length > 0">
            <tr *ngFor="let productData of mostSoldProducts">
                <th><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                       [routerLink]="'product/view/' + productData.product.id">{{productData.product.name}}</a></th>
                <td>{{productData.unitsSold}}</td>
            </tr>
        </table>
        <p *ngIf="mostSoldProducts.length == 0">No hay productos vendidos</p>
    </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>