<app-page [title]="title">
    <form [formGroup]="form">
        <section>
            <div class="row"
                 *ngIf="this.order.id && !isEditAction && !form.controls.paid.value">
                <div class="col-12">
                    <app-button type="primary"
                                text="Pedido Entregado"
                                style="float: right; margin-right: 5px;"
                                (onClick)="deliveredOrder()">

                    </app-button>
                </div>
            </div>
            <div class="row"
                 *ngIf="this.order.id && !isEditAction && form.controls.paid.value">
                <div class="col-12">
                    <app-button type="primary"
                                text="Modificar Pago"
                                style="float: right; margin-right: 5px;"
                                (onClick)="deliveredOrder()">

                    </app-button>
                </div>
            </div>
            <div class="row">
                <div class="col-6 p-2">
                    <app-search-input label="Cliente"
                                      [control]="form.controls.clientId"
                                      model="Client"
                                      messageWhenRecordsNotFound="No se encontraron clientes"
                                      messageWhenValueIsMissing="El cliente es obligatorio"
                                      [disabled]="isViewAction"
                                      [required]="true"></app-search-input>
                </div>
                <div class="col-6 p-2">
                    <app-date-input label="Fecha Estimada de Entrega"
                                    [control]="form.controls.estimatedDeliveryDate"
                                    messageWhenValueIsMissing="La fecha estimada de entrega es obligatoria"
                                    [disabled]="isViewAction"
                                    [required]="true"></app-date-input>
                </div>
                <div class="col-12 p-2">
                    <app-textarea-input label="Descripción"
                                        [control]="form.controls.description"
                                        [readonly]="isViewAction">
                    </app-textarea-input>
                </div>
                <div class="col-3 p-2">
                    <app-number-input label="Coste (€)"
                                      [control]="form.controls.costPrice"
                                      [disabled]="true"></app-number-input>
                </div>
                <div class="col-3 p-2">
                    <app-number-input label="Coste Estimado (€)"
                                      [control]="form.controls.estimatedCostPrice"
                                      [disabled]="true"></app-number-input>
                </div>
                <div class="col-3 p-2">
                    <app-number-input label="Precio de Venta (€)"
                                      [control]="form.controls.price"
                                      [disabled]="true"></app-number-input>
                </div>
                <div class="col-3 p-2">
                    <app-number-input label="Beneficio Estimado (€)"
                                      [control]="form.controls.estimatedProfit"
                                      [disabled]="true"></app-number-input>
                </div>
                <div class="col-3 p-2">
                    <app-check-input label="Pagado"
                                     [control]="form.controls.paid"
                                     style="margin-top: 15px; margin-left: 15px;"
                                     [disabled]="true"></app-check-input>
                </div>
                <div class="col-3 p-2">
                    <app-number-input label="Dinero Cobrado (€)"
                                      [control]="form.controls.paidment"
                                      [disabled]="true"></app-number-input>
                </div>
                <div class="col-3 pt-3">
                    <app-number-input label="Beneficio (€)"
                                      [control]="form.controls.profit"
                                      [disabled]="true"></app-number-input>
                </div>
                <div class="col-3 p-2">
                    <app-date-input label="Fecha de Entrega"
                                    [control]="form.controls.deliveryDate"
                                    [disabled]="true"></app-date-input>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 p-2">
                    <h2>Productos ({{form.controls.products.controls.length}})</h2>
                </div>
                <div class="col-12 p-2"
                     style="max-height: 400px; overflow: auto;"
                     formArrayName="products">
                    <ul class="list-group">
                        <li *ngFor="let productGroup of form.controls.products.controls; index as i"
                            class="list-group-item list-group-item-action list-group-item-dark">
                            <app-product-selector [index]="i"
                                                  [formGroup]="productGroup"
                                                  [isViewAction]="isViewAction"
                                                  [isEditAction]="isEditAction"
                                                  [isNewAction]="isNewAction"
                                                  (onRemove)="removeProduct($event)"
                                                  (onCostChange)="costChange()"></app-product-selector>
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <app-button type="primary"
                                srcIcon="add.svg"
                                (onClick)="addProduct()"
                                style="margin-right: 5px; float: right;"
                                *ngIf="!isViewAction"></app-button>
                </div>
            </div>
        </section>
        <section>
            <div class="row justify-content-center">
                <div class="col-auto p-2">
                    <app-button text="Editar"
                                type="primary"
                                style="margin-right: 5px;"
                                (onClick)="edit()"
                                *ngIf="isViewAction"></app-button>
                    <app-button text="Guardar"
                                type="primary"
                                style="margin-right: 5px;"
                                (onClick)="save(false)"
                                [disabled]="form.invalid"
                                *ngIf="!isViewAction"></app-button>
                    <app-button text="Guardar y Nuevo"
                                type="primary"
                                [outline]="true"
                                style="margin-right: 5px;"
                                (onClick)="save(true)"
                                [disabled]="form.invalid"
                                *ngIf="!isViewAction"></app-button>
                    <app-button text="Cancelar"
                                type="secondary"
                                (onClick)="cancel()"></app-button>
                </div>
            </div>
        </section>
    </form>
</app-page>
<app-order-delivered-modal #orderDeliveredModal></app-order-delivered-modal>