<app-page title="El Taller de Aurora - Gestión">
    <app-summary *ngIf="!loading"></app-summary>
    <app-spinner *ngIf="loading"></app-spinner>
    <!-- <div class="row"
         *ngIf="!loading">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active uppercase"
                       data-bs-toggle="pill"
                       href="#summary">Resumen</a></li>
                <li class="nav-item"><a class="nav-link uppercase"
                       data-bs-toggle="pill"
                       href="#materials">Materiales y Productos</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane container active tab-section p-5 mb-5"
                     id="summary">
                    <app-summary></app-summary>
                </div>
                <div class="tab-pane container fade tab-section p-5 mb-5"
                     id="materials">
                    <h4 class="uppercase mb-4">Materiales y Productos</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row"
         *ngIf="loading">
        <div class="col-12">
            
        </div>
    </div> -->
</app-page>