<div [ngClass]="floatingLabel ? 'form-floating' : ''">
    <label *ngIf="label && !floatingLabel"
           class="form-label text-truncate"><span *ngIf="isRequired"
              style="margin-right: 5px; color: red">*</span>{{label}} <app-icon *ngIf="help"
                  [height]="15"
                  src="help.svg"
                  [ngbTooltip]="help"></app-icon></label>
    <div class="input-group">
        <input type="date"
               [name]="name"
               class="form-control"
               [placeholder]="placeholder"
               [readonly]="readonly"
               [formControl]="control">
        <ng-content></ng-content>
    </div>
    <label *ngIf="label && floatingLabel"
           class="form-label text-truncate">{{label}} <app-icon *ngIf="help"
                  [height]="15"
                  src="help.svg"
                  [ngbTooltip]="help"></app-icon></label>
    <div *ngIf="control.invalid && (control.dirty || control.touched)"
         class="text-danger mt-1">
        <div *ngIf="control.errors?.['required']" class="text-danger">
            {{messageWhenValueIsMissing}}
        </div>
        <div *ngIf="control.errors?.['min']" class="text-danger">
            {{messageWhenWrongMinValue}}
        </div>
        <div *ngIf="control.errors?.['max']" class="text-danger">
            {{messageWhenWrongMaxValue}}
        </div>
    </div>
</div>