<div class="header">
    <div id="menu"
         class="show">
        <div class="navbar row">
            <div class="col-auto">
                <div class="container-fluid">
                    <span>
                        <a routerLink="/"
                           class="nav-link text-secondary">
                            <app-icon src="icon.png"
                                      [height]="32"
                                      className="d-inline-block align-text-top"></app-icon>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-auto">
                <ul class="nav justify-content-center my-md-0 text-small">
                    <li>
                        <a routerLink="materials"
                           class="nav-link text-secondary">
                            <app-icon src="inventory-management.svg"
                                      [height]="20"
                                      className="bi d-block mx-auto mb-1"></app-icon>
                            Materiales
                        </a>
                    </li>
                    <li>
                        <a routerLink="tools"
                           class="nav-link text-secondary">
                            <app-icon src="tool-kit.svg"
                                      [height]="20"
                                      className="bi d-block mx-auto mb-1"></app-icon>
                            Herramientas
                        </a>
                    </li>
                    <li>
                        <a routerLink="purchases"
                           class="nav-link text-secondary">
                            <app-icon src="buy.svg"
                                      [height]="20"
                                      className="bi d-block mx-auto mb-1"></app-icon>
                            Compras
                        </a>
                    </li>
                    <li>
                        <a routerLink="products"
                           class="nav-link text-secondary">
                            <app-icon src="product-list.svg"
                                      [height]="20"
                                      className="bi d-block mx-auto mb-1"></app-icon>
                            Productos
                        </a>
                    </li>
                    <li>
                        <a routerLink="clients"
                           class="nav-link text-secondary">
                            <app-icon src="account.svg"
                                      [height]="20"
                                      className="bi d-block mx-auto mb-1"></app-icon>
                            Clientes
                        </a>
                    </li>
                    <li>
                        <a routerLink="orders"
                           class="nav-link text-secondary">
                            <app-icon src="transaction-order.svg"
                                      [height]="20"
                                      className="bi d-block mx-auto mb-1"></app-icon>
                            Encargos
                        </a>
                    </li>
                    <li>
                        <a routerLink="sales"
                           class="nav-link text-secondary">
                            <app-icon src="sales.svg"
                                      [height]="20"
                                      className="bi d-block mx-auto mb-1"></app-icon>
                            Ventas
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <ul class="nav my-md-0 text-small"
                    style="float: right; padding-right: 15px;">
                    <li>
                        <!-- <a routerLink="help"
                           class="nav-link text-secondary">
                            <app-icon src="help.svg"
                                      [height]="20"
                                      className="bi d-block mx-auto mb-1"></app-icon>
                            Ayuda
                        </a> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>