<app-page title="Clientes">
    <div class="row">
        <div class="col align-self-start">
            <div class="row">
                <div class="col-auto">

                </div>
                <div class="col-auto">

                </div>
            </div>
        </div>
        <div class="col-auto align-self-end">
            <app-button text="Nuevo"
                        style="margin-right: 5px"
                        type="primary"
                        [asLink]="true"
                        href="/client/new"></app-button>
            
        </div>
    </div>
    <div *ngIf="!loading">
        <div class="row mt-2"
             *ngIf="clientService.getAll().length > 0">
            <div class="col-12">
                <app-datatable [columns]="columns"
                               [data]="clients"
                               [showRowNumber]="true"
                               [showCheckbox]="true"
                               [rowNumberOffset]="rowsOffset"
                               keyField="id"
                               (onRowAction)="handleRowAction($event)">

                </app-datatable>
            </div>
            <div class="col-12">
                <app-pagination [page]="currentPage"
                                [maxPages]="maxPages"
                                (onPageClick)="handleClickPage($event)"
                                (onFirstPage)="handleClickPage($event)"
                                (onLastPage)="handleClickPage($event)"
                                (onPreviousPage)="handleClickPage($event)"
                                (onNextPage)="handleClickPage($event)"></app-pagination>
            </div>
        </div>
        <div class="row"
             *ngIf="clientService.getAll().length == 0">
            No hay clientes registrados
        </div>
    </div>
    <div *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
</app-page>