<div class="row">
    <div class="col-7 p-2">
        <div class="row">
            <div class="col-6">
                <app-search-input label="Material"
                                  [control]="formGroup.controls.materialId"
                                  model="Material"
                                  messageWhenRecordsNotFound="No se encontraron materiales"
                                  messageWhenValueIsMissing="El material es obligatorio"
                                  [disabled]="isViewAction">
                    <app-button type="secondary"
                                [outline]="true"
                                srcIcon="preview.svg"
                                [iconSize]="15"
                                (onClick)="previewMaterial()"
                                [disabled]="!formGroup.controls.materialId.value"></app-button>
                </app-search-input>
            </div>
            <div class="col-3">
                <app-select-input label="Escala"
                                  *ngIf="scaleOptions"
                                  [control]="formGroup.controls.scale"
                                  firstValueLabel="Selecciona una escala"
                                  [values]="scaleOptions"
                                  [disabled]="isViewAction || !material"
                                  messageWhenValueIsMissing="La escala es obligatoria"
                                  help="Escala para el calculo de los materiales y precios"></app-select-input>
            </div>
            <div class="col-3">
                <app-number-input label="Cantidad ({{quantityType}})"
                                  [control]="formGroup.controls.quantity"
                                  messageWhenValueIsMissing="La cantidad es obligatoria"
                                  messageWhenWrongMinValue="La cantidad debe ser mayor que 0"
                                  help="Cantidad de material necesaria para la fabricación de una unidad del producto (En la escala seleccionada)"
                                  [disabled]="isViewAction || !material"></app-number-input>
            </div>
        </div>
    </div>
    <div class="col p-2">
        <dl class="row p-2">
            <dt class="col-sm-8">Cantidad Normalizada ({{normalizedQuantityLabel}})</dt>
            <dd class="col-sm-4">{{formGroup.controls.normalizedQuantity.value || 0}} {{normalizedQuantityLabel}}</dd>
            <dt class="col-sm-8">Precio ({{priceLabel}})</dt>
            <dd class="col-sm-4">{{formGroup.controls.price.value || 0}} {{priceLabel}}</dd>
            <dt class="col-sm-8">Coste (€)</dt>
            <dd class="col-sm-4">{{formGroup.controls.cost.value || 0}} €</dd>
        </dl>
    </div>
    <div class="col-auto pt-3"
         *ngIf="!isViewAction">
        <app-button type="danger"
                    (onClick)="removeMaterial()"
                    srcIcon="trash.svg"></app-button>
    </div>
</div>
<app-material-viewer-modal #materialViewerModal></app-material-viewer-modal>